@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.progr-s {
    background: mediumaquamarine;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 10px 10px;
    color:mediumblue;
    text-decoration:underline;
}