
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    body {
        background-color: #f1f1f1;
        color: #0f141e;
        font: normal 20px 'Roboto', sans-serif;
    }

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        color:blue;
    }
    a:visited{
        color:grey;
    }

    .info {
        margin-bottom: 20px;
        display: flex;
    }

    @media (max-width: 1200px) {
        .info {display:block;
            text-align: center;
        }
    }

    .info-text {
        margin-left: 20px;
    }

    .info-text h4 {
        margin-bottom: 10px;
    }

    .info-text p {
        margin-bottom: 40px;
    }

    .avatar {
        width: 300px;
        border-radius: 28px;
        box-shadow: 4px 4px 14px rgba(0, 0, 0 , 030) 
    }

    .info p {
        color: rgb(78, 99, 138);
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        /*text-transform:uppercase;*/
        /*letter-spacing: 5px;*/
        word-spacing: 7px;

    }

    .container {
        max-width: 75%;
        margin: auto;
        border-radius: 20px;
        border-top: solid;
        border-top-width: 30px;
        border-top-color: #fff9dc;
    }

    /*.social {
        background: green;
        /*padding: 15px 25px 30px 40px;*/
        /*padding -top or -right, or -bottom, or -left: 15px;*/
       /* padding: 20px; 
        border: 5px solid red;
        border-style: dashed;
        border-top-width: 15px;
        border-right-color: greenyellow;
        margin: 5px;
    }*/

    .bg-yellow {
        background: #fff9dc;
        border-radius: 20px;
    }
    .bg-green {
        background: #e5ffe7;
        border-radius: 20px;
    }
    .bg-red {
        background: #ffe5e5;
        border-radius: 20px;
    }
    .card {
      padding: 15px 20px ;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: #ffe5e5;
        }
    .card h2 {
        text-align: center;
        color: black;
    }

  .WE {
      padding: 20px 30px;
  }
    .AM {
        padding: 20px 30px;
    }
    .hobbies {
        padding: 4%
    }

    .list {
        padding:8%; 
    }
 
    .list li {
        color: blue;
        margin-bottom: 20px;
        list-style:circle;
            }
    .table {
        padding: 0 70px;
        width: 100%
    }
    .table td {
        padding-bottom: 10px;
    }
    .headings {
        color:blue;
        padding: 10px;

    }
    .table td:nth-child(2),
    .table td:nth-child(3) {
        color: black;
    }
    .table td:nth-child(1) {
        color:indigo;
    }
    .table tr:nth-child(2),
    .table tr:nth-child(3) {
        background: khaki;
    }
    .table tr:nth-child(1) {
        background: lightgreen;
    }

    .sub-form {
         padding: 10px 10px;
    }

    .sub-form label {
        display: block;
        font-size: 18px;
        color:rgb(78, 99, 138)
    }
    .sub-form h2 {
        color:rgb(78, 99, 138)
    }

    .sub-form input,
    .sub-form textarea {
        width: 100%;
        box-sizing: border-box;
        border:none;
        border-bottom: 1px solid #ccc;
        color: #000;
        padding: 15px 0 10px;
        outline: none;
        font-family: inherit;
        background: transparent;
    }

    .row {
        display: flex;
        margin-bottom: 20px;

    }

    .row > .form-group {
        margin-right: 20px;
        width: 50%;
          
    }
    
    .row > .form-group:last-child {
        margin-right:0;
    }
    .form-group1 {
        padding-top: 50px;
    }

        

    .footer {
        text-decoration: rgb(53, 110, 53);
        
    }

    .btn {
        background: #111;
        padding: 15px 20px;
        color: #fff;
        border: none;
        font-family: inherit;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.7;
    }

    

  

    .box{
        position: fixed;
        width:70px;
        height:70px;
        bottom: 100px;
        right: 50px;
        background: blue;
        border-radius: 50%;
        opacity: 0.45;
    }

    








  



    